.body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 98%);

}
.high {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.medium {
    font-weight: 700;
}
.low {
    font-weight: 500;
}

.card {
    width: 28%;
    margin: 5% auto;
    border-radius: 1rem;
}
.card-img-top {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.card-body {
    text-align: center;
}
.Title{
    font-size: 20px;
}
.subtext {
    color: hsl(224, 23%, 55%);
    font-size: small;
    width: 65%;
    margin: 10% auto;
}

.pricing {
    width: 85%;
    margin: 5% auto;
    border-radius: 1rem;
    background-color: hsl(225, 100%, 98%);
}

.col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-7 p {
    text-align: left;
    font-size: 13px;
}
.col-3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-3 a{
    color: hsl(245, 75%, 52%);
    font-size: 12px;
}

.col-3 a:active{
    color:hsla(255, 75%, 52%, 0.985) ;
}

.submit {
    padding: 4%;
}

.button{
    color: white;
    height: 33px;
    width: 84%;
    margin: 1% auto;
    background-color: hsl(245, 75%, 52%);
    font-size: 13px;
    font-weight: 700;
    border-style: none;
    border-radius: 0.5rem;
    overflow: hidden;
}
.button:active{
    background-color: hsla(255, 75%, 52%, 0.985);
}
    
.cancel{
    margin-top: 3%;
    color:hsl(224, 23%, 55%); 
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
}
.cancel:active{
    color:hsl(223, 47%, 23%) ;
}

@media screen and (max-width:413px){
    .card{
        width:85%;
    }
}


